---
---

@import "{{ site.theme }}";

$heading-font: 'Eczar', serif;
$para-font: 'Work Sans', sans-serif;

@media print {
  body {
    margin: 0 30px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

p {
  font-family: $para-font;
  font-weight: 300;
}

.bannerImage {
  height: 450px;
  width: 100%;
  background: url(../warwickPano.jpg) no-repeat center center; 
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @media print {
    height: auto;
    background: none;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;    
  }
}

h1 {
  color: #ffffff;
  margin: 5vh 0;
  font-size: 50px; // fallback
  font-size: 15vw;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.53); 
  @media (min-width: 600px) {
    font-size: 6vw;
  }
  @media print {
    font-size: 60px;
    margin: 0;
    color: #000000;
    text-shadow: none;
  }
}

.main-content {
  font-size: 1.4rem;
  @media print {
    font-size: 1rem;
  }
}

.main-content h2 {
  border-bottom: 5px solid #777777;
  font-size: 200%;
  padding: 5px;
  @media print {
    font-size: 150%;
  }
}

.main-content h2 + h3 {
  margin-top: 0;
}

.page-header {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
  > li {
    font-size: 30px;
    font-weight: bold;
    font-family: $heading-font;
    > ul {
      list-style: disc;
      padding-left: 50px;
      > li {
        font-size: 16px;
        font-weight: 300;
        font-family: $para-font
      }
    }
  }
}

@media print {
  ul {
    margin-bottom: 5px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    > li {
      font-size: 20px;
      &:before {
        content: "\2610";
        margin-right:5px;
      }
      > ul {
        padding-left: 30px;
        > li {
          font-size: 16px;
        }
      }
    }
  }
}

@media print {
  p {
    display: none;
  }
}

.printMessage {
  display: none;
  @media print {
    display: block;
  }
}
