---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5 {
  font-family: 'Arapey', cursive;
}

p {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

.bannerImage {
  height: 450px;
  width: 100%;
  background: url(../warwickPano.jpg) no-repeat center center; 
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  margin: 5vh 0;
  font-size: 50px; // fallback
  font-size: 15vw;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.53); 
  @media (min-width: 600px) {
    font-size: 6vw;
  }
}

.main-content {
  font-size: 1.4rem;
}

.main-content h2 {
  border-bottom: 5px solid #777777;
  font-size: 200%;
  padding: 5px;
}

.main-content h2 + h3 {
  margin-top: 0;
}

.page-header {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
  > li {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Arapey', cursive;
    > ul {
      list-style: disc;
      padding-left: 50px;
      > li {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
      }
    }
  }
}
